


.close{
    position: absolute;
    top: 20px;
    right: 30px;
    background: antiquewhite;
    padding: 7px;
    font-family: cursive;
    border-radius: 6px;
    border: 1px solid darkgrey;
}
.close:hover{
    cursor: pointer;
    background: rgb(224, 182, 127);
    transition: 1s;
}

.logoContainer{
    position: absolute;
    width: 115px;
    height: 50px;
    /* background-color: black; */
    /* background-image: url("../image/logo_Test.png"); */
    top: 25px;
    left: 25px;

}
.logoContainer img{
    width: 100%;
    height: 100%;
}
.logoContainer:hover{
    cursor: pointer;
}

.mainResumeContainer{
    
    width: 100%;
    padding-bottom: 150px;
    background-color: rgb(32, 43, 80);
    position: absolute;
    top: 0;
    left: 0;
    animation-name: resumeAnimation;
    animation-duration: 1.5s;
}

.resumeInfoContainer{
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    width: 23.6cm;
    padding: 1cm;
    padding-bottom: 5cm;
    background: rgb(79, 94, 143);
    margin-top: 7.5cm;
}

.resumeTypeContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    top: 5cm;
    border-radius: 5px;
    margin-left: 1cm;
    margin-right: 1cm;
    background-color: rgb(79, 94, 143);
    padding-left: 1cm;
    padding-right: 1cm;
}



.buttonsContainer{
    position: absolute;
    width: 100%;
    bottom: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.button{
    background: antiquewhite;
    padding: 7px;
    font-family: cursive;
    border-radius: 6px;
    border: 1px solid darkgrey;

}
.button:hover{
    cursor: pointer;
    background: rgb(224, 182, 127);
    transition: 1s;
}
@media screen and (max-width: 26.5cm) {
    .mainResumeContainer{
        width: 26.5cm;
    }
}


@keyframes resumeAnimation{
    0%{
        top: 100%;
    }
    100%{
        top: 0;
    }
}