
::-webkit-scrollbar {
    width: 7.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 7.5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(37, 211, 241); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0586ad; 
  }

.main_Container{
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.left_Section{
    border-radius: 5px;
    min-width: 312px;
    max-height: 575px;
    overflow: scroll;
    padding: 5%;
    width: 45%;
    float: left;
    background-color: rgb(32, 43, 80);
    border: 1px solid black;
}

.info_btn{
    display: block;
    width: 80%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    border-radius: 30px;
}

.add_info_btn{
    display: block;
    width: 50%;
    margin: 10px;
    margin-left: auto;
    background: rgb(176, 184, 192);
    margin-right: auto;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    border-radius: 30px;
}
.add_info_btn:hover{
    background-color: rgb(95, 115, 180);
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.info_btn:hover{
    background-color: rgb(46, 79, 87);
    color: rgb(200, 200, 200);
    transition: 0.3s;
}


.info_Title{
    font-size: larger;
    color: blanchedalmond;
}

.info_data{
    color: rgb(255, 255, 255);
    margin-left: 5%;
}

.CV_Infos_Title{
    font-size: 25px;
    text-align: center;
    color: rgb(134, 194, 218);
}

/* .CV_Infos{
    position: relative;

}
.CV_Infos:hover{
    opacity: 0.5;
    cursor: pointer;
} */

.formLabel{
    color: wheat;
}

@media screen and (max-width: 400px) {
    .info_btn{
        font-size: smaller;
    }
    .add_info_btn{
        font-size: smaller;
    }
    .info_Title{
        font-size: smaller;

    }
    .info_data{
        font-size: smaller;

    }
    .CV_Infos_Title{
        font-size: 20px;
    }
  }